---
import MainLayout from "../layouts/MainLayout.astro";
import MyCustomImage from "../components/MyCustomImage.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import Aabningstider from '../components/Aabningstider.astro';
import ServiceCards from '../components/Services.astro';
import GoogleCard from "../components/GoogleCard.astro";
import ServiceCard from "../components/ServiceCard.astro";
import { Image } from 'astro:assets';
import hero from "../assets/images/hero_image.jpg";
import desktopImage from "../assets/images/hero1.png";
import mobileImage from "../assets/images/hero2.png";
import LogoLight from "../assets/images/index_logo_light.svg";
import Salon from "../assets/images/index_salon.png";
import Saks from "../assets/images/index_saks.gif";
---
<MainLayout title="Casa No. 17">
	 <section>
    <div class="">
      <div class="w-full">
        <MyCustomImage
          mobileImgUrl={mobileImage}
          desktopImgUrl={desktopImage}
          alt="Video af fris칮rsalonens ydelser"/>
      </div>

	<div class="flex absolute items-center justify-center inset-0">
	  <div class="grid grid-rows-[1fr_3fr_1fr]">
		<p class="text-brun-25 flex align-bottom justify-center">Fris칮rsalon i hjertet af K칮benhavn</p>
		<h1 class="text-brun-25 lg:text-6xl font-bold uppercase flex justify-center">Ny stil - ny dig</h1>
		<p class="text-brun-25 flex align-bottom justify-center text-center">Hos os er du garanteret h칮j kvalitet og kreativ inspiration til dit n칝ste look.</p>
	  </div>
	</div>

   
    </div>
  </section>

  <section>
	<p>banner</p>
  </section>


 <!-- <div class="flex h-screen">

    <div class="w-3/5 bg-brun-800 text-brun-25 flex flex-col justify-center px-32">
      <div>
		<div class="flex justify-center">
        <Image class="" src={LogoLight} alt="Casa No 17 logo" loading="lazy"/>
		</div>
        <h2 class="text-brun-25 lg:text-6xl font-bold uppercase mb-6">Salon p친 N칮rrebro</h2>
        <p class="text-brun-25 leading-relaxed  mb-10">
          Casa 17 blev etableret ud fra et 칮nske om at skabe et hyggeligt og rart sted, hvor alle er velkomne. Vi g칮r vores bedste for at skabe en indbydende stemning, hvor man kan f칮le sig godt tilpas. Vi tager altid udgangspunkt i kunden og s칝tter en 칝re i at finde lige netop den frisure og/eller h친rfarve, der kl칝der den enkelte kunde.
        </p>
		<div class="flex justify-center">
        <Button class="uppercase">L칝s mere</Button>
		</div>
      </div>
    </div>

   
    <div class="w-2/5">
		<Image class="w-full h-full object-cover" src={Salon} alt="Casa No 17 logo" loading="lazy"/>
    </div>
  </div> -->

  <section class="flex flex-col md:flex-row h-screen">
    <!-- Left/Text Side -->
    <div class="bg-brun-800 text-brun-25 w-full md:w-3/5 p-10 flex flex-col justify-center items-center">
      <div class="mb-6 flex items-center scale-50	lg:scale-75">
        <Image class="" src={LogoLight} alt="Casa No 17 logo" loading="lazy"/>
      </div>

      <h2 class="text-brun-25 text-4xl lg:text-6xl font-bold mb-6 leading-tight md:text-left">
        SALON P칀<br class="block md:hidden" /> N칒RREBRO
      </h2>

      <p class="text-base leading-relaxed lg:px-32 mb-8">
        Casa 17 blev etableret ud fra et 칮nske om at skabe et hyggeligt og rart sted, hvor alle er velkomne. Vi g칮r vores bedste for at skabe en indbydende stemning, hvor man kan f칮le sig godt tilpas. Vi tager altid udgangspunkt i kunden og s칝tter en 칝re i at finde lige netop den frisure og/eller h친rfarve, der kl칝der den enkelte kunde.
      </p>

      <div class="flex justify-center">
        <Button class="uppercase">L칝s mere</Button>
		</div>
    </div>

    <!-- Right/Image Side -->
    <div class="w-full md:w-2/5 h-[50vh] md:h-auto order-[-1] lg:order-1">
      <Image class="w-full h-full object-cover" src={Salon} alt="Salon interior" loading="lazy"/>
    </div>
  </section>

  
  <article id="친bningstider" class="flex justify-center ">
	<Aabningstider class="flex items-center"></Aabningstider>
  </article>

  <div class="flex justify-center background">
    <div class="max-w-7xl xl:max-w-[1536px] px-6 py-12 ">
      <div class="grid md:grid-cols-3 gap-16">

    <ServiceCard
					url="https://salonbook.one/?casa17#/"

					cardimage="../images/service1.png"

					cardimagealt="Klik for at bestille tid online"

					titel="Book tid"
					>

			</ServiceCard>

      <ServiceCard
					url="/priser"

					cardimage="../images/service2.png"

					cardimagealt="Klik for at bestille tid online"

					titel="Se vores priser"
					>

			</ServiceCard>

      <ServiceCard
					url="/om-os"

					cardimage="../images/service3.png"

					cardimagealt="Klik for at bestille tid online"

					titel="L칝s mere om os"
					>

			</ServiceCard>
      </div>
    </div>
</div>

<section class="bg-brun-800">

  <div class="flex items-center px-10 lg:px-20">
    <div class="flex-grow border-t border-brun-25"></div>
      <span class="px-4 max-w-[110px] items-center">
          <Image class="" src={Saks} alt="Saks der bev칝ger sig" loading="lazy"/>
      </span>
    <div class="flex-grow border-t border-brun-25"></div>
  </div>


</section>

  <section class="">
    <div class="">
      <h3 class="uppercase font-bold text-4xl lg:text-6xl text-center px-14 md:px-0  pt-12 lg:pt-16">Hvad vores <wbr>kunder siger</h3>
    </div>

    <div class="grid md:grid-cols-[1fr_1fr] lg:grid-cols-[1fr_1fr_1fr_1fr] gap-8 GoogleCards pt-12 pb-4 lg:pt-16 lg:pb-20 lg:px-20">
			<GoogleCard
					url="https://dk.trustpilot.com/users/582341310000ff000a55a769"

					cardimagealt="Et par der danser ballroom"

					navn="Thomas Jeppson"

					dato="For 10 dage siden"

					review="Den bedste fris칮r p친 N칮rrebro! Hyggelig og god! Kan sit kram! Og Camilla er s칮d og rar!"

					>

			</GoogleCard>

            <GoogleCard
					url="https://dk.trustpilot.com/users/667420749867ff814c47b4a8"

					cardimagealt="Et par der danser ballroom"

					navn="N. Kragh"

					dato="For 2 m친neder siden"

					review="Altid super godt arbejde og dejlig behandling 游녨"

					>

			</GoogleCard>

            <GoogleCard
					url="https://dk.trustpilot.com/users/66784e7475540f080c962edf"

					cardimagealt="Et par der danser ballroom"

					navn="Mette Risbo Jessen"

					dato="For 8 m친neder siden"

					review="Altid god service"

					>

			</GoogleCard>

            <GoogleCard
					url="https://dk.trustpilot.com/users/66743f35aed1957bc1511913"

					cardimagealt="Et par der danser ballroom"

					navn="Benjamin Rud Elberth"

					dato="For 1 친r siden"

					review="Camilla er jo bare fantastisk. Det koster noget. Men du f친r hvad du betaler for. En dejlig oplevelse."

					>

			</GoogleCard>
      </div>
  </section>

  <section class="pt-16 md:pt-0">
  </section>

</MainLayout>






<style>

  .background {
   background: linear-gradient(0deg, #443028 60%, #FAF9F8 40%);
}
@media only screen and (max-width: 768px) {

.GoogleCards {
    display: flex;
    overflow-x: auto; /* Only horizontal scrolling */
    scroll-snap-type: x mandatory;
    padding-left: 36px;
    padding-right: 36px;
    gap: 20px;
    scroll-padding: 10px;

    /* Remove these to show the scrollbar */
    /* scrollbar-width: none; */
    /* -ms-overflow-style: none; */
    
    /* Optional: show custom scrollbar in Firefox */
    scrollbar-color: #443028 transparent;
  }

  .GoogleCards::-webkit-scrollbar {
    display: block; /* Show scrollbar in WebKit browsers */
    height: 8px; /* Optional: customize scrollbar height */
  }

  .GoogleCards::-webkit-scrollbar-thumb {
    background-color: #443028; /* Optional: scrollbar thumb color */
    border-radius: 4px;
  }

  .GoogleCards .card {
    flex: 0 0 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
  }

          .background {
   background: linear-gradient(0deg, #443028 90%, #FAF9F8 10%);
}
    }
</style>