---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import facade from "../assets/images/facade.jpg";
import Aabningstider from "../components/Aabningstider.astro";
import HoverPic from "../components/HoverPic.astro";
import hairdryer from "../assets/images/hairdryer.svg";
import brush from "../assets/images/brush.svg";
import scissor from "../assets/images/scissor.svg";
import comb from "../assets/images/comb.svg";
import sofa from "../assets/images/sofa.png";
import camilla from "../assets/images/camilla.jpg";
---

<MainLayout title="Om os">
  <!-- Overskrift -->
  <div class="flex items-center mt-20 mb-10 mx-10 lg:mx-20">
    <div class="flex-grow border-t border-brun-900"></div>
    <span class="px-4 text-4xl font-bold lg:text-7xl text-center uppercase"
      ><h1>Frisøren på Blågårdsgade</h1></span
    >
    <div class="flex-grow border-t border-brun-900"></div>
  </div>

  <section>
    <div class="flex flex-col lg:flex-row h-auto lg:h-screen">
      <!-- Billedet -->
      <div class="w-full lg:w-2/5 h-64 lg:h-auto">
        <Image
          class="w-full h-full object-contain lg:object-cover"
          src={facade}
          alt="Billedet viser salon Casa No 17's facade."
          loading="lazy"
        />
      </div>
      <div
        class="w-full lg:w-3/5 bg-brun-800 text-brun-25 flex flex-col justify-center px-6 sm:px-12 lg:px-32 py-12"
      >
        <div>
          <h2
            class="text-brun-25 text-3xl lg:text-5xl font-bold uppercase mb-6"
          >
            Casa No. 17
          </h2>

          <div class="max-w-prose text-brun-25 leading-relaxed">
            <p class="mb-3">
              Frisør Casa 17, ejet af Camilla From Vedsted, ligger centralt på
              Blågårdsgade i hjertet af Nørrebro, København. Vi tilbyder
              dameklip, herreklip og hårfarvning i en hyggelig og afslappet
              atmosfære.
            </p>
            <p class="mb-3">
              Siden 2002 har vi skabt personlig service og skræddersyet
              behandling til hver kunde. Vi tager os tid til at finde netop den
              frisure og farve, der passer dig bedst. Vi følger med i de nyeste
              trends og teknikker – men går aldrig på kompromis med det, der
              klæder dig.
            </p>
            <p class="mb-3">
              Vi anvender kun kvalitetsprodukter fra I.C.O.N., EVO og Wella –
              skånsomme, effektive og fri for skadelige stoffer.
            </p>
            <p class="mb-3">
              Hos os er alle velkomne, og vi sætter en ære i god stemning og høj
              faglighed. Kig forbi Blågårdsgade 17 eller følg os på Facebook &
              Instagram.
            </p>
            <p class="mb-5">Vi glæder os til at byde dig velkommen!</p>
          </div>

          <div class="flex justify-center mt-6">
            <Button class="uppercase">Se priser</Button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- <section>
    <div class="flex h-screen">
      <div class="w-2/5">
        <Image
          class="w-full h-full object-cover"
          src={facade}
          alt="Casa No 17 logo"
          loading="lazy"
        />
      </div>
      <div
        class="w-3/5 bg-brun-800 text-brun-25 flex flex-col justify-center px-32"
      >
        <div>
          <h2 class="text-brun-25 lg:text-5xl font-bold uppercase mb-6">
            Casa No. 17
          </h2>
          <div class="max-w-prose text-brun-25 leading-relaxed">
            <p class="mb-3">
              Frisør Casa 17, ejet af Camilla From Vedsted, ligger centralt på
              Blågårdsgade i hjertet af Nørrebro, København. Vi tilbyder
              dameklip, herreklip og hårfarvning i en hyggelig og afslappet
              atmosfære.
            </p>
            <p class="mb-3">
              Siden 2002 har vi skabt personlig service og skræddersyet
              behandling til hver kunde. Vi tager os tid til at finde netop den
              frisure og farve, der passer dig bedst. Vi følger med i de nyeste
              trends og teknikker – men går aldrig på kompromis med det, der
              klæder dig.
            </p>
            <p class="mb-3">
              Vi anvender kun kvalitetsprodukter fra I.C.O.N., EVO og Paul
              Mitchell – skånsomme, effektive og fri for skadelige stoffer.
            </p>
            <p class="mb-3">
              Hos os er alle velkomne, og vi sætter en ære i god stemning og høj
              faglighed. Kig forbi Blågårdsgade 17 eller følg os på Facebook &
              Instagram.
            </p>
            <p class="mb-5">Vi glæder os til at byde dig velkommen!</p>
          </div>
          <div class="flex justify-center">
            <Button class="uppercase">Se priser</Button>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- <section class="flex flex-col lg:flex-row">
    <div class="flex h-screen">
      <div class="w-2/5">
        <Image
          class="w-full h-full object-cover"
          src={facade}
          alt="Casa No 17 logo"
          loading="lazy"
        />
      </div>

      <div class="w-3/5 bg-brun-800 text-brun-25 justify-center px-32">
        <div class="">
          <h2 class="text-brun-25 lg:text-5xl font-bold uppercase mb-6">
            Casa No. 17
          </h2>
          <p class="text-brun-25 leading-relaxed mb-3">
            Frisør Casa 17, ejet af Camilla From Vedsted, ligger centralt på
            Blågårdsgade i hjertet af Nørrebro, København. Vi tilbyder dameklip,
            herreklip og hårfarvning i en hyggelig og afslappet atmosfære.
          </p>
          <p class="text-brun-25 leading-relaxed mb-3">
            Siden 2002 har vi skabt personlig service og skræddersyet behandling
            til hver kunde. Vi tager os tid til at finde netop den frisure og
            farve, der passer dig bedst. Vi følger med i de nyeste trends og
            teknikker – men går aldrig på kompromis med det, der klæder dig.
          </p>
          <p class="text-brun-25 leading-relaxed mb-3">
            Vi anvender kun kvalitetsprodukter fra I.C.O.N., EVO og Paul
            Mitchell – skånsomme, effektive og fri for skadelige stoffer.
          </p>
          <p class="text-brun-25 leading-relaxed mb-3">
            Hos os er alle velkomne, og vi sætter en ære i god stemning og høj
            faglighed. Kig forbi Blågårdsgade 17 eller følg os på Facebook &
            Instagram.
          </p>
          <p class="text-brun-25 leading-relaxed mb-5">
            Vi glæder os til at byde dig velkommen!
          </p>
          <div class="flex justify-center">
            <Button class="uppercase">Se priser</Button>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- <section class="grid lg:grid-cols-2">
    <div class="">
      <Image
        class=""
        src={picture}
        alt="Billede af frisørstole i en salon"
        loading="lazy"
      />
    </div>
    <div class="bg-brun-800 grid place-content-center">
      <h2 class="text-brun-25 text-5xl font-bold mb-d-s">CASA NO. 17</h2>
      <p class="text-brun-25">
        Frisør Casa 17, ejet af Camilla From Vedsted, ligger centralt på
        Blågårdsgade i hjertet af Nørrebro, København. Vi tilbyder dameklip,
        herreklip og hårfarvning i en hyggelig og afslappet atmosfære.
      </p>
      <p class="text-brun-25">
        Siden 2002 har vi skabt personlig service og skræddersyet behandling til
        hver kunde. Vi tager os tid til at finde netop den frisure og farve, der
        passer dig bedst. Vi følger med i de nyeste trends og teknikker – men
        går aldrig på kompromis med det, der klæder dig.
      </p>
      <p class="text-brun-25">
        Vi anvender kun kvalitetsprodukter fra I.C.O.N., EVO og Paul Mitchell –
        skånsomme, effektive og fri for skadelige stoffer.
      </p>
      <p class="text-brun-25">
        Hos os er alle velkomne, og vi sætter en ære i god stemning og høj
        faglighed. Kig forbi Blågårdsgade 17 eller følg os på Facebook &
        Instagram.
      </p>
      <p class="text-brun-25">Vi glæder os til at byde dig velkommen!</p>
      <Button>SE PRISER</Button>
    </div>
  </section> -->
  <section>
    <div class="flex flex-row justify-center my-20">
      <div class="">
        <Image
          class="w-full h-full object-cover rotation"
          src={hairdryer}
          alt="Billedet er en hårtørrer som er lavet som en vektorgrafik og er mørkebrun."
          loading="lazy"
        />
      </div>
      <div>
        <Image
          class="w-full h-full object-cover rotation"
          src={brush}
          alt="Billedet viser en mørkebrun børste som bruges til at farve hår med og lavet som en vektorgrafik."
          loading="lazy"
        />
      </div>
      <div>
        <Image
          class="w-full h-full object-cover rotation"
          src={scissor}
          alt="Billedet viser en mørkebrun saks og den er blevet lavet som en vektorgrafik."
          loading="lazy"
        />
      </div>
      <div>
        <Image
          class="w-full h-full object-cover rotation"
          src={comb}
          alt="Billedet viser en mørkebrun kam, som er lavet som vektorgrafik."
          loading="lazy"
        />
      </div>
    </div>
  </section>
  <!-- Overskrift 2 -->
  <div class="flex items-center mb-10 mx-20">
    <div class="flex-grow border-t border-brun-900"></div>
    <span class="px-4 text-4xl lg:text-7xl font-bold text-center uppercase"
      ><h1>Camilla, frisør og ejer</h1></span
    >
    <div class="flex-grow border-t border-brun-900"></div>
  </div>

  <section>
    <div class="flex flex-col lg:flex-row h-auto lg:h-screen">
      <!-- Tekstsektion -->
      <div
        class="w-full lg:w-3/5 bg-brun-800 text-brun-25 flex flex-col justify-center px-6 sm:px-12 lg:px-32 py-12"
      >
        <div>
          <h2 class="text-3xl lg:text-5xl font-bold uppercase mb-6">
            CAMILLA FROM VEDSTED
          </h2>

          <div class="max-w-prose leading-relaxed">
            <p class="mb-3">
              Camilla er indehaver af Frisør Casa No. 17. Hun har arbejdet i
              Blågårdsgade nr. 17, siden hun blev udlært i 2003.
            </p>
            <p class="mb-3">
              Camilla overtog forretningen i år 2006 og omdøbte salonen til
              Frisør Casa No. 17, som den stadig hedder. Camilla har siden da
              drevet den stabile salon med kompetente hænder. Hun er glad for at
              lære nye metoder og få ny viden indenfor trends og tendenser i
              frisørfaget, og derfor har hun ofte taget på kurser og messer i
              både ind- og udland, specielt London.
            </p>
            <p class="mb-5">
              Camilla kigger altid først og fremmest på kunden og dernæst på
              hvad, der danner mode for tiden, når hun skal råde om klip og
              farve. Det er vigtigt for hende, at kunden får en frisure, der
              klæder lige præcis ham eller hende.
            </p>
          </div>

          <div class="flex justify-center mt-6">
            <Button class="uppercase">Book tid</Button>
          </div>
        </div>
      </div>

      <!-- Billedsektion -->
      <div class="w-full lg:w-2/5 h-64 sm:h-80 md:h-96 lg:h-auto">
        <Image
          class="w-full h-full object-contain lg:object-cover object-center"
          src={camilla}
          alt="Billedet viser ejeren og frisør Camilla, som er i gang med at klippe hår på en kunde."
          loading="lazy"
        />
      </div>
    </div>
  </section>

  <!-- <section>
    <div class="flex h-screen">
      <div
        class="w-3/5 bg-brun-800 text-brun-25 flex flex-col justify-center px-32"
      >
        <div>
          <h2 class="text-brun-25 lg:text-5xl font-bold uppercase mb-6">
            CAMILLA FROM VEDSTED
          </h2>
          <div class="max-w-prose text-brun-25 leading-relaxed">
            <p class="mb-3">
              Camilla er indehaver af Frisør Casa No. 17. Hun har arbejdet i
              Blågårdsgade nr. 17, siden hun blev udlært i 2003.
            </p>
            <p class="mb-3">
              Camilla overtog forretningen i år 2006 og omdøbte salonen til
              Frisør Casa No. 17, som den stadig hedder. Camilla har siden da
              drevet den stabile salon med kompetente hænder. Hun er glad for at
              lære nye metoder og få ny viden indenfor trends og tendenser i
              frisørfaget, og derfor har hun ofte taget på kurser og messer i
              både ind- og udland, specielt London.
            </p>
            <p class="mb-5">
              Camilla kigger altid først og fremmest på kunden og dernæst på
              hvad, der danner mode for tiden, når hun skal råde om klip og
              farve. Det er vigtigt for hende, at kunden får en frisure, der
              klæder lige præcis ham eller hende.
            </p>
          </div>
          <div class="flex justify-center">
            <Button class="uppercase">Book tid</Button>
          </div>
        </div>
      </div>
      <div class="w-2/5">
        <Image
          class="w-full h-full object-cover"
          src={camilla}
          alt="Casa No 17 logo"
          loading="lazy"
        />
      </div>
    </div>
  </section> -->

  <!-- <section class="grid lg:grid-cols-2">
      <div class="bg-brun-800 grid place-content-center">
        <h2 class="text-brun-25 text-5xl font-bold mb-d-s">
          CAMILLA FROM VEDSTED
        </h2>
        <p class="text-brun-25">
          Camilla er indehaver af Frisør Casa No. 17. Hun har arbejdet i
          Blågårdsgade nr. 17, siden hun blev udlært i 2003.
        </p>
        <p class="text-brun-25">
          Camilla overtog forretningen i år 2006 og omdøbte salonen til Frisør
          Casa No. 17, som den stadig hedder. Camilla har siden da drevet den
          stabile salon med kompetente hænder. Hun er glad for at lære nye
          metoder og få ny viden indenfor trends og tendenser i frisørfaget, og
          derfor har hun ofte taget på kurser og messer i både ind- og udland,
          specielt London.
        </p>
        <p class="text-brun-25">
          Camilla kigger altid først og fremmest på kunden og dernæst på hvad,
          der danner mode for tiden, når hun skal råde om klip og farve. Det er
          vigtigt for hende, at kunden får en frisure, der klæder lige præcis
          ham eller hende.
        </p>
        <Button>BOOK TID</Button>
      </div>
      <div>
        <Image
          class=""
          src={picture}
          alt="Billede af frisørstole i en salon"
          loading="lazy"
        />
      </div>
    </section> -->

  <section>
    <Aabningstider class="flex items-center" />
  </section>

  <section>
    <div class="flex flex-col lg:flex-row">
      <!-- Billede -->
      <div class="w-full lg:w-1/2 h-64 sm:h-80 md:h-96 lg:h-auto">
        <Image
          class="w-full h-full object-contain lg:object-cover object-center"
          src={sofa}
          alt="Billedet viser venteområdet i salonen med en sort sofa og brunt træbord."
          loading="lazy"
        />
      </div>

      <!-- Tekst -->
      <div
        class="w-full lg:w-1/2 bg-brun-800 text-brun-25 flex flex-col justify-center px-6 sm:px-12 lg:px-32 py-12"
      >
        <div>
          <h2 class="text-3xl lg:text-5xl font-bold uppercase mb-6">Kontakt</h2>

          <p class="leading-relaxed mb-3">
            Blågårdsgade 17<br />
            2200 København N
          </p>
          <p class="leading-relaxed mb-3">Tlf. 3535 0080</p>
          <p class="leading-relaxed mb-3">Vedstedcamilla@gmail.com</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Kontakt -->
  <!-- <section>
    <div class="flex">
    
      <div class="w-1/2">
        <Image
          class="w-full object-cover"
          src={sofa}
          alt="Casa No 17 logo"
          loading="lazy"
        />
      </div>
   
      <div
        class="w-1/2 bg-brun-800 text-brun-25 flex flex-col justify-center px-32"
      >
        <div>
          <div class="flex justify-center"></div>
          <h2 class="text-brun-25 lg:text-5xl font-bold uppercase mb-6">
            Kontakt
          </h2>
          <p class="text-brun-25 leading-relaxed mb-3">
            Blågårdsgade 17<br /> 2200 København N
          </p>
          <p class="text-brun-25 leading-relaxed mb-3">Tlf. 3535 0080</p>
          <p class="text-brun-25 leading-relaxed mb-3">
            Vedstedcamilla@gmail.com
          </p>
        </div>
      </div>
    </div>
  </section> -->

  <!-- Overskrift 3 -->
  <div class="flex items-center mb-10 mt-20 mx-20">
    <div class="flex-grow border-t border-brun-900"></div>
    <span class="px-4 text-4xl lg:text-7xl font-bold text-center uppercase"
      ><h1>Brands</h1></span
    >
    <div class="flex-grow border-t border-brun-900"></div>
  </div>

  <section>
    <div class="mx-20 mb-20">
      <div class="flex items-center flex-col lg:flex-row gap-10">
        <HoverPic
          image="../img/brand_evo1.jpg"
          imagealt="Billede der viser tre forskellige produkter fra EVO. Indpakningerne er hvid med blå eller pink skrift"
          titel="EVO"
          navn="Fugtgivende serie"
          beskrivelse="Produkter der giver fugt og reparerer"
        />
        <HoverPic
          image="../img/brand_icon.jpg"
          imagealt="Billedet viser fem forskellige produkter fra serien ICON. Fire af produkterne har hvid indpakning og har enten lyserød eller orange skrift. Det sidste produkt er en brun flaske med orange skrift."
          titel="I.C.O.N"
          navn="Hårpleje"
          beskrivelse="Et udvalg af produkter der plejer håret"
        />
        <HoverPic
          image="../img/brand_evo2.jpg"
          imagealt="Billedet viser tre forskellige produkter fra EVO. De har alle hvid indpakning og skriften på dem er lys brun"
          titel="EVO"
          navn="Styling af hår"
          beskrivelse="Style dit hår med disse produkter"
        />
      </div>
      <div class="mt-2">
        <p>
          <span class="font-bold uppercase text-brun-900 leading-relaxed">
            Obs
          </span>
          Viste produkter kan kun købes i salonen, og ikke online
        </p>
      </div>
    </div>
  </section>
</MainLayout>

<style>
  .rotation {
    animation-name: rotation_kf;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes rotation_kf {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(-15deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
</style>
