---
import "../styles/tailwind.css";
import { Image } from "astro:assets";
import evo1 from "../assets/images/brand_evo1.jpg";
import icon from "../assets/images/brand_icon.jpg";

const {
  image = "",
  imagealt = "",
  titel = "",
  navn = "",
  beskrivelse = "",
} = Astro.props;
---

<div>
  <div x-data="{ open: false }" @click.away="open = false" class="relative">
    <div class="relative group aspect-[3/4]">
      <!-- Her er fixet -->
      <img
        src={image}
        alt={imagealt}
        class="w-full h-full object-cover cursor-pointer"
        loading="lazy"
        @click="window.innerWidth < 768 ? open = !open : null"
      />

      <div
        x-show="open || window.innerWidth >= 768"
        x-transition
        class="absolute bottom-0 left-0 w-full bg-brun-700/80 text-brun-25 p-4 md:opacity-0 md:group-hover:opacity-100 transition-opacity duration-300 md:pointer-events-none"
      >
        <p class="font-bold">{titel}</p>
        <p>{navn}</p>
        <p>{beskrivelse}</p>
      </div>
    </div>
  </div>
</div>

<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
></script>
