---
import "../styles/tailwind.css";
import { Image } from "astro:assets";
import evo1 from "../assets/images/brand_evo1.jpg";
import icon from "../assets/images/brand_icon.jpg";

const {
  image = "",
  imagealt = "",
  titel = "",
  navn = "",
  beskrivelse = "",
} = Astro.props;
---

<div class="">
  <div class="">
    <div class="relative group">
      <img
        src={image}
        alt={imagealt}
        class="w-full h-full object-cover"
        loading="lazy"
      />
      <div
        class="absolute bottom-0 left-0 w-full bg-brun-700/80 text-brun-25 p-4 opacity-0 group-hover:opacity-100 transition-opacity duration-300"
      >
        <p class="font-bold">{titel}</p>
        <p>{navn}</p>
        <p>{beskrivelse}</p>
      </div>
    </div>
  </div>
</div>
